{% extends "WardLeonardNewsBundle::backlayout.html.twig" %}

{% form_theme form_add with 'WardLeonardNewsBundle:Form:form_error.html.twig' %}

{% block backbody %}

    <h2>{{ titre }}</h2>

{% for flashMessage in app.session.flashbag.get('notice') %}
  {{ flashMessage }}
{% endfor %}

{{ form_start(form_add) }}
<div>
{{ form_label(form_add.title) }}
{{ form_widget(form_add.title) }}{{ form_errors(form_add.title) }}
</div>
{{ form_errors(form_add.content) }}
{#{ form_label(form_add.content, null, {'label_attr': {'class': 'danger'}}) }#}
{{ form_widget(form_add.content) }}
{{ form_rest(form_add) }}
{{ form_end(form_add) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('News/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('News/js/tinymce/tinymce.min.js') }}"></script>
    <script>

        window.onload = function(){

            tinymce.init({
                selector:'textarea.tinymce',
                themes: 'modern',
                width: 600,
                height: 300
            });

            /*document.querySelector("textarea").textContent="";

            var x = document.querySelectorAll("input");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].value = " ";
            }*/
        }

    </script>

{% endblock %}