{% extends "WardLeonardNewsBundle::backlayout.html.twig" %}

{% form_theme form_add with 'WardLeonardNewsBundle:Form:form_error.html.twig' %}

{% block backbody %}

    <h2>{{ titre }}</h2>

{% for flashMessage in app.session.flashbag.get('notice') %}
  {{ flashMessage }}
{% endfor %}

    {{ form_start(form_add) }}
    <fieldset>
        <div class="form-group row">
            {{ form_label(form_add.title) }}
            {{ form_widget(form_add.title) }}{{ form_errors(form_add.title) }}
        </div>
        <div class="form-group row">
            {{ form_errors(form_add.content) }}
            {#{ form_label(form_add.content, null, {'label_attr': {'class': 'danger'}}) }#}
            {{ form_widget(form_add.content) }}
        </div>
        <div class="form-group row">
            {{ form_label(form_add.author) }}
            {{ form_widget(form_add.author) }}{{ form_errors(form_add.author) }}
        </div>
        <div class="form-group row">
            {{ form_label(form_add.video) }}
            {{ form_widget(form_add.video) }}{{ form_errors(form_add.video) }}
        </div>
        <div class="form-group row">
            {{ form_label(form_add.photo) }}
            {{ form_widget(form_add.photo) }}{{ form_errors(form_add.photo) }}
        </div>
    </fieldset>
    <fieldset class="action">
        {{ form_row(form_add.submit) }}
        {{ form_row(form_add.reset) }}
    </fieldset>



{{ form_rest(form_add) }}
{{ form_end(form_add) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('News/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('News/js/tinymce/tinymce.min.js') }}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    <script>

        window.onload = function(){

            /*ClassicEditor.create( document.querySelector( '.ckeditor' ) ).catch( error => {
                console.log( error );
            });*/

            tinymce.init({
                selector:'textarea.tinymce',
                themes: 'modern',
                width: 450,
                height: 300
            });

            /*document.querySelector("textarea").textContent="";

            var x = document.querySelectorAll("input");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].value = " ";
            }*/
        }

    </script>

{% endblock %}