{% extends "WardLeonardNewsBundle::backlayout.html.twig" %}

{% block backbody %}

	<h1>Gestion des News</h1>
	<p>
	    <a href="{{ path('news_new') }}" class="btn btn-primary">
			<i class="glyphicon glyphicon-plus"></i>
	    	Créer une news
	    </a>
    </p>

    {% for value in news %}
          
    	<div class="row well">

    		<div class="col-md-8">
				<a href="{{ path('news_show', {'id': value.id}) }}">{{ value.title }}</a>
			</div>

    		<div class="col-md-4">
		        <a href="{{ path('news_modify', {'id': value.id}) }}" class="btn btn-success">
		        	<i class="glyphicon glyphicon-edit"></i>
		        	Modifier
		    	</a>

		        <a href="{{ path('news_delete',{'id': value.id}) }}" class="btn btn-danger">
		        	<i class="glyphicon glyphicon-trash"></i>
		        	Supprimer
		        </a>
			</div>

    	</div>
    	
    
    {% endfor %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    window.addEventListener('load', function(){

        let links;
        links = document.querySelectorAll('.btn-danger');

        for (let e of links){
            e.addEventListener('click',(event)=>{
                if (confirm('Etes-vous sûr de vouloir supprimer cette actualités?')) {
                    return true;
                }
                event.preventDefault();
            });
        }



    })
</script>

{%  endblock %}
