{% extends "WardLeonardNewsBundle::backlayout.html.twig" %}


{% block backbody %}

	<h1>Welcome to the Back:index page</h1>
    <a href="{{ path('news_new') }}">Créer une news</a>
    <ul>
	    {% for value in news %}
	        <li>{{ value.title }}<a href="{{ path('news_show', {'id': value.id}) }}">Voir</a> -
	            <a href="{{ path('news_modify', {'id': value.id})}}">Modifier</a> -
	            <a href="{{ path('news_delete',{'id': value.id}) }}">Supprimer</a></li>
	    {% endfor %}
    </ul>

{% endblock %}
