{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lyrics list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lyric in lyrics %}
            <tr>
                <td><a href="{{ path('lyric_show', { 'id': lyric.id }) }}">{{ lyric.id }}</a></td>
                <td>{{ lyric.title.title }}</td>
                <td>{{ lyric.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lyric_show', { 'id': lyric.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lyric_edit', { 'id': lyric.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lyric_new') }}">Create a new lyric</a>
        </li>
    </ul>
{% endblock %}
