{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Datesortie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disk in disks %}
            <tr>
                <td><a href="{{ path('disk_show', { 'id': disk.id }) }}">{{ disk.id }}</a></td>
                <td>{{ disk.title }}</td>
                <td>{% if disk.dateSortie %}{{ disk.dateSortie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('disk_show', { 'id': disk.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('disk_edit', { 'id': disk.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disk_new') }}">Create a new disk</a>
        </li>
    </ul>
{% endblock %}
