{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disk</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disk.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ disk.title }}</td>
            </tr>
            <tr>
                <th>Datesortie</th>
                <td>{% if disk.dateSortie %}{{ disk.dateSortie|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disk_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('disk_edit', { 'id': disk.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
